

.nav1{
  z-index: 99;
}

.contenedor_contenido{
  display: grid;
}

.contenedor-status-conection .online_contenedor{
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  padding-top: 2px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgb(234, 251, 209);
}


.contenedor-status-conection .offline_contenedor{
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  padding-top: 2px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgb(244, 244, 204);
}